include ../shared/container
  .postSummary
    if (user && user.author && user._id.toString() === blogPost.author._id.toString())
      a.hijax.right.button(href='/blog/post/' + blogPost.slug + '/edit') Edit Post
    a.hijax.postTitle(href='/blog/post/' + blogPost.slug)= blogPost.title
    .postDate Posted #{moment(blogPost.date).fromNow()} by <a href="#{blogPost.author.url}">#{blogPost.author.name.first} #{blogPost.author.name.last}</a>
    if (blogPost.comments)
      .postDate #{blogPost.comments.length} Comment(s)
    br
    if (blogPost.content.length > 500)
      div.postContent= blogPost.content.slice(0, 500) + '...'
        a(href='/blog/post/' + blogPost.slug) (read more)
    else
      div.postContent= blogPost.content